body{
    margin: 0px;
    padding: 0px;
}

ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
   text-align: center;
    width: 100%;
    height: 50px;

}

ul li{
    
    float: left;
}
ul  a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: bold;
    padding: 10px 10px;
    color: black;
    margin: 50px;
    


}



ul li a{
   margin-top: 5px;
   padding-top: 10px;
}
.divbloc{
    background-image: url("mes-images/background.jfif");
    width: 100%;
    height: 400px;
    margin-top: 15px;

}
.bakeli{
    width: 100px;
    border-radius: 15px;
    margin-left: 46%;
    margin-top: 100px;

}
.div1{
    background-color: rgb(59, 52, 52);
    width: 20%;
    height: 40px;
    margin: 20px auto;
    color: white;
    font-size: 16px;
   

}
.gray{
    text-align: center;
    padding-top: 5px;
}

.size{
    text-align: center;
    color: white;
    font-size: 12px;
}
.prog, .desi, .markk{
    width: 140px;
    border: 1px solid rgb(62, 184, 157);
    border-radius: 65%;
    padding: 15px 15px;
    margin-left: 15%;

}

.desi{
   border-radius: 55%;
}

.titre{
    text-align: center;
    height: 10px 10px;
    display: flex;
}
.t1{
   margin-right: 49px;

}

h3{
    padding-left: 230px;
}

.text{
    text-align: center;
    height: 10px 10px;
    display: flex
    
    
}

.p1{
   margin-right: 49px;


}

.pp{
    padding-left: 0px;
}

.p2{
    margin-right: 209px;
}

.T1{
    background-color: rgb(207, 196, 196);
    width: 95%;
    height: 6em;
    padding: 50px 20px 20px 50px;
    padding-top: 30px;
    
    
}
.menu-1{
    display: inline;
    font-size: 13px;
    margin-left: 20px;
}

h1{
    text-align: center;
    margin-left: 30px;
}





.wor{
    background-color: #9bd8d7;
    width: 330px;
    height: 330px;
   
}

.htcs{
    background-color: #58b7c5;
    width: 330px;
    height: 330px;
}
.can{
    background-color: #57b35c62;
    width: 330px;
    height:330px;

    
}

.jav{
    background-color: #6cc792;
    width: 330px;
    height: 330px;
    
    
}








.va{
    background-color: #834c2aa9;
    width: 330px;
    height:330px;

}

.ink{
    background-color: #3abdb0;
    width: 330px;
    height: 330px;
}

.After{
    background-color: #1c6b6d;
    width: 330px;
    height: 330px;

}

.pyth{
    background-color: #87ebb7a1;
    width: 330px;
    height:330px;

}

.ph1{
    text-align: center;
}

.ph2{
    margin-left: 2%;
}

.dprogr1{
    display: flex;
    margin-left: 20%;

}

:root{
    --progress: 100%;
}

#progress1{
    width: 220px;
    height: 35px;
    border: 2px solid #749c87e0;
    border-radius: 10px;
    position: relative;
}
#progress1::before{
    position: absolute;
    top: 0;
    left: 0;
    width: var(--progress);
    max-width: 100%;
    height: 100%;
    background-color: #749c87e0;
    content: attr(data-progress);
}

.prop1{
    text-align: left;
    margin-top: -20px;
}

:root{
    --progre: 90%;
}

#progress2{
    width: 220px;
    height: 35px;
    border: 2px solid #749c87e0;
    border-radius: 10px;
    position: relative;
    margin-left: 10%;
}

#progress2::before{
    position: absolute;
    top: 0;
    left: 0;
    width: var(--progre);
    max-width: 100%;
    height: 100%;
    background-color: #749c87e0;
    content: attr(data-progress);
}

.prop3{
    margin-bottom: 100px;
    margin-left: 10px;
   
}



.dprogr2{
    display: flex;
    margin-left: 23%;
}

:root{
    --prog: 80%;
}

#progress3{
    width: 220px;
    height: 35px;
    border: 2px solid #749c87e0;
    border-radius: 10px;
    position: relative;
    margin-left: 10%;
    margin-left:-75px;
}

#progress3::before{
    position: absolute;
    top: 0;
    left: 0;
    width: var(--prog);
    max-width: 100%;
    height: 100%;
    background-color: #749c87e0;
    content: attr(data-progress);
}

.prop2{
    text-align: left;
    margin-top: -20px;
}

:root{
    --progrr: 75%;
}

#progress4{
    width: 220px;
    height: 35px;
    border: 2px solid #749c87e0;
    border-radius: 10px;
    position: relative;
    margin-left: 10%;
    margin-left: 16%;
}

#progress4::before{
    position: absolute;
    top: 0;
    left: 0;
    width: var(--progrr);
    max-width: 100%;
    height: 100%;
    background-color: #749c87e0;
    content: attr(data-progress);
}

.prop2{
    text-align: left;
}



.T2{
    height: 5px 5px;

}



.d99{

    width: 100%;
    height: 600px;
    background-color: #749c87e0;
   
}




.dh1{
color: #fff;
margin-bottom: 50px;


}

.h1No{
    
}


.p11{
    text-align: center;
    color: #fff;

}


.p12{
    margin-left: 0%;
    color: #fff;

}

.im1{
    width: 330px;
    height: 330px;

}


.im2{
    width: 330px;
    height: 330px;

}


.im3{
    width: 330px;
    height: 330px;


}

.im4{
    width: 330px;
    height: 330px;

}

.im5{
    width: 100px;
    border-radius: 15px;
    margin-left: 46%;
    margin-top: 100px;
}

.pcentre{
    text-align: center;

}

.centre3{
    font-weight: bold ;

}
   /* le pied de mon page*/
footer{
    flex-shrink: 0;
    border-top: 1px solid rgb(148, 144, 144);
    width: 100%;
    height: 400%;
    background: grey;
    color: #000

}

.contenu-footer{
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 25px;
    padding: 20px 0 50px;


}
h2{
    text-align: center;
}

/* on-footer */


}

.on-footer p{
     padding: 5px 0;

}

/* contacte-footer */
.contacte-footer{

}
 

.bloc{
    width: 20%;
    margin-left: 30px;


}

P{
    text-align: center;
    height: 50px;
}

/* media queries */
@media screen and (max-width:1300px){
    .contenu-footer{
        width: 700px;
        flex-wrap: wrap;

    }
    .bloc{
        width: 40%;
        margin: 0 0;
    }
    .bloc:nth-child(1)
    .bloc:nth-child(2){
        margin-bottom: 50px;

    }
    
}
@media screen and (max-width:800px) {
    .contenu-footer{
        width: 300px;
    }

    .bloc{
        width: 300px;
        margin: 30px 30px;
    }
    .bloc:nth-child(1)
    .bloc:nth-child(2){
        margin-bottom: 30px;

    }

    .bloc:nth-child(1){
        margin-top: 0;
    }

    
}

